<%- include('header'); -%>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

<br>
<br>

<div class="container" style="  position: relative; border-style: solid; width: fit-content; background-color: white; align-content: center; size: 5px ; text-align: center; padding-top: 1%; padding-bottom: 1%;"  >
  <h5 style="font-family: 'Staatliches', cursive;">Time Remaining : <span id="timer"></span></h5>
  

</div>

  

        <form action="/syllabus/<%=Topic %>" method="POST" name="cartCheckout" id="cartCheckout">
     <ol class="collection with-header">
            <% topicQuestions.forEach(function (item) {  %>
                
                  
                <li class="collection-header myClass" style="white-space: pre-line;" ><%= item.title %></li>
                <ol type="A"  class="collection with-header" style="border-style: solid">
                    <li class="collection-item">
                    
                          <label>
                            <input  class="with-gap" name=<%=item.ID %> type="radio"  id="one"  value="one" />
                            <span><%= item.option1 %></span>
                          </label>
                        
                      </li>
                        <li class="collection-item">
                          <label>
                            <input  class="with-gap" name=<%=item.ID %>  type="radio"  id="two"  value="two" />
                            <span><%= item.option2 %></span>
                          </label>
                        </li>
                        <li  class="collection-item">
                          <label>
                            <input class="with-gap"  name= <%=item.ID %>  type="radio"  id="three" value="three"  />
                            <span><%= item.option3 %></span>
                          </label>
                        </li>
                        <li  class="collection-item">
                          <label>
                            <input class="with-gap"   name= <%=item.ID %>  type="radio"  id="four" value="four" />
                            <span><%= item.option4 %></span>
                          </label>
                        </li>
                     
                      </ol>
             <% })  %>
            </ol>

             <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
              <script>
                    window.onload=function(){ 
                window.setTimeout(function() { document.cartCheckout.submit(); }, 17000);
            };
              </script>
            
        
   
   
   
   
</form>

<%- include('footer'); -%>